#corpo{
    font-family: "Arial Black";
    border: solid darkgreen;
    height: 220px;
    width: 700px;
    background-color: cornflowerblue;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#entradas{
    padding: 10px;
    text-align: center;
}

h1{
    text-align: center;
    color: #000000;
}
body{
    background-color: #32cfb7;
}